{
    "extends": ["stylelint-config-standard", "stylelint-config-css-modules"],
    "rules": {
        "no-unknown-animations": true,
        "comment-empty-line-before": null,
        "indentation": [
            4
        ]
    }
}
