.attempts-container {
    position: relative;
    background-color: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--elevated-2);
    margin: 24px 0;
    flex: 0 0 auto;
}

.attempt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.attempt + .attempt {
    border-top: var(--border);
}
