.attempts-container {
    position: relative;
    background-color: var(--background-color);
    /* border-radius: 4px; */
    overflow: hidden;
    box-shadow: var(--elevated-2);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.attempt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.attempt + .attempt {
    border-top: var(--border);
}
