.background-chars-container {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--background-columns), 1fr);
    /* grid-template-rows: repeat(var(--background-rows), 1fr); */
    grid-gap: 0;
}

.background-char {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    font-size: var(--background-font-size);
    font-weight: bold;
    color: #f1f1f1;
    opacity: 0.1;
    transition: opacity 200ms linear;
}

/* hide original content when attribute is present */
.background-char[data-emoji] {
    font-size: 0;
}

/* display content from attribute */
.background-char[data-emoji]::after {
    content: attr(data-emoji);
    font-size: 2rem;

    /* TODO animation getting re-triggered on renders */
    /* animation: pulsate 2s infinite;
    animation-fill-mode:none; */
    font-size: 1.5rem;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transform-origin: center center;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.is-absent {
    opacity: 0.03;
}

.is-present {
    opacity: 0.3;
}
