.buttons-container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    padding: 0.35rem 0.5rem;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.55rem;
    line-height: 1.2;
    color: rgb(0 0 0 / 75%);
    box-shadow: var(--elevated-1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: center center;
    transform: scale(1);
    flex: 0 0 auto;
    align-self: center;
    margin: 1rem 0.5rem 0;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
    box-shadow: var(--elevated-3);
    transform: scale(1.01);
}

.button:not([disabled]):active {
    box-shadow: var(--elevated-2);
    transform: scale(0.99);
    opacity: 0.95;
}
