.char {
    height: 100%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bold;
    line-height: 0;
    background-color: var(--background-color);
    transition: background 30ms linear;
    padding-bottom: 4px;
}

.char + .char {
    border-left: var(--border);
}

.char::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 0;
    animation: width var(--animation-duration) linear backwards;
}

@keyframes width {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.char:nth-child(1)::after {
    animation-delay: calc(var(--animation-duration) * 1);
}

.char:nth-child(2)::after {
    animation-delay: calc(var(--animation-duration) * 2);
}

.char:nth-child(3)::after {
    animation-delay: calc(var(--animation-duration) * 3);
}

.char:nth-child(4)::after {
    animation-delay: calc(var(--animation-duration) * 4);
}

.char:nth-child(5)::after {
    animation-delay: calc(var(--animation-duration) * 5);
}

.char:nth-child(6)::after {
    animation-delay: calc(var(--animation-duration) * 6);
}

.char:nth-child(7)::after {
    animation-delay: calc(var(--animation-duration) * 7);
}

.char:nth-child(8)::after {
    animation-delay: calc(var(--animation-duration) * 8);
}

.char:nth-child(9)::after {
    animation-delay: calc(var(--animation-duration) * 9);
}

.char:nth-child(10)::after {
    animation-delay: calc(var(--animation-duration) * 10);
}

/* active tile */
.is-active-turn:empty {
    background-color: var(--color-active);
}

.is-active-turn:empty + .is-active-turn:empty {
    background-color: inherit;
}

/* character states */
.is-correct::after {
    background-color: var(--color-correct);
    width: 100%;
}

.is-present::after {
    background-color: var(--color-present);
    width: 100%;
}

.is-absent::after {
    background-color: var(--color-absent);
    width: 100%;
}
