.heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.heading,
.subheading {
    margin: 0;
    display: flex;
    justify-content: center;
}

.heading {
    box-shadow: var(--elevated-1);
    font-size: inherit;
    margin-bottom: var(--header-bottom-margin);
}

.subheading {
    /* prevent shift when emoji render */
    min-height: 1.1rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* .char overrides */
.heading-char {
    flex: 1 1 auto;
    height: var(--header-tile-size);
    min-width: var(--header-tile-size);
    font-size: var(--header-font-size);
    padding-bottom: 4px;
    text-transform: uppercase;
    color: rgb(0 0 0 / 95%);
    background-color: rgb(255 255 255 / 66%);
    transition: all var(--animation-duration) var(--easing-fn);
}

.heading-char + .heading-char {
    border-left-color: rgb(0 0 0 / 10%);
}

.heading-char:first-of-type {
    border-top-left-radius: var(--header-border-radius);
    border-bottom-left-radius: var(--header-border-radius);
}

.heading-char:last-of-type {
    border-top-right-radius: var(--header-border-radius);
    border-bottom-right-radius: var(--header-border-radius);
}

.heading-char::after {
    height: 4px;
    opacity: 0.66;
}
