.keyboard-container {
    font-size: 18px;
    box-shadow: var(--elevated-3);
}

/* raising specificity required due to clash with component theme styles */
.keyboard-container .absent {
    border-color: var(--color-absent);
    opacity: 0.5;
    position: relative;
}

.keyboard-container .absent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-absent);
}

.keyboard-container .present {
    border-color: var(--color-present);
    position: relative;
}

.keyboard-container .present::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-present);
    /* opacity: 0.5; */
}
