.shmurgle-container {
    padding: 0;
    position: absolute;
    z-index: 1;
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shmurgle-heading {
    flex: 0 1 auto;
    padding: 0;
    width: 100%;
}

.shmurgle-attempts {
    margin: 0;
    flex: 0 0 auto;
    width: calc(5 * var(--tile-size)); /* 5 chars */
    height: calc(6 * var(--tile-size)); /* 6 rows */
    font-size: var(--tile-font-size);
}

.shmurgle-buttons {
    flex: 0 0 auto;
}

.shmurgle-background {
    background-color: #bdbdbd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shmurgle-keyboard {
    max-width: 700px;
    margin-top: 0.5rem;
    /* position: fixed;
    bottom: 0; */
}

@media screen and (min-width: 460px) {
    .shmurgle-background {
        --background-columns: 6;
    }

    .shmurgle-heading {
        --header-tile-size: 2rem;
    }
}

@media screen and (min-width: 560px) {
    .shmurgle-background {
        --background-columns: 7;
    }

    .shmurgle-container {
        padding: 16px;
    }

    .shmurgle-heading {
        --header-font-size: 1.2rem;
        --header-tile-size: 2.2rem;
        --header-border-radius: 2px;

        width: auto;
    }
}

@media screen and (min-width: 650px) {
    .shmurgle-background {
        --background-columns: 8;
    }

    .shmurgle-heading {
        --header-font-size: 1.5rem;
        --header-tile-size: 2.6rem;
    }

    .shmurgle-container {
        padding: 24px;
    }
}

@media screen and (min-width: 960px) {
    .shmurgle-background {
        --background-columns: 12;
    }

    .shmurgle-heading {
        --header-bottom-margin: 1.5rem;
    }

    .shmurgle-container {
        padding: 32px;
    }
}

@media screen and (min-width: 1100px) {
    .shmurgle-background {
        --background-columns: 14;
    }

    .shmurgle-heading {
        --header-bottom-margin: 2rem;
        --header-border-radius: 4px;
    }

    .shmurgle-container {
        padding: 40px;
    }
}

@media screen and (min-width: 1600px) {
    .shmurgle-background {
        --background-columns: 16;
    }

    .shmurgle-container {
        padding: 48px;
    }
}

@media screen and (min-width: 1600px) {
    .shmurgle-background {
        --background-columns: 18;
    }
}

@media screen and (min-width: 1920px) {
    .shmurgle-background {
        --background-columns: 20;
    }
}
